<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <head>
    <link rel="stylesheet" href="/stylesheets/game_style.css" />
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <div
      class="container--full-view-port d-flex justify-content-center align-items-center"
    >
      <div class="container--miniNav d-flex align-self-start">
        <a href="/home"><i class="fa-solid fa-chevron-left"></i></a>
        <img src="/images/logo.png" />
        <p class="align-self-center">ROCK PAPER SCISSORS</p>
      </div>
      <div
        class="container d-flex flex-column justify-content-center align-items-center"
      >
        <p>PLAYER 1</p>
        <a id="rock" onclick="roshambo(1)"><img src="/images/batu.png" /></a>
        <a id="paper" onclick="roshambo(2)"><img src="/images/kertas.png" /></a>
        <a id="scissor" onclick="roshambo(3)"
          ><img src="/images/gunting.png"
        /></a>
      </div>
      <div
        class="container d-flex flex-column justify-content-center align-items-center"
      >
        <h1 id="vs">VS</h1>
        <div
          id="stats"
          class="container--status d-flex justify-content-center align-items-center"
        ></div>
        <a id="refresh" onclick="refresh()"
          ><img src="/images/refresh.png"
        /></a>
      </div>
      <div
        class="container d-flex flex-column justify-content-center align-items-center"
      >
        <p>COM</p>
        <a id="com-rock"><img src="/images/batu.png" /></a>
        <a id="com-paper"><img src="/images/kertas.png" /></a>
        <a id="com-scissor"><img src="/images/gunting.png" /></a>
      </div>
    </div>
    <script src="/javascripts/game.js"></script>
  </body>
</html>
