<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <head>
    <link rel="stylesheet" href="/stylesheets/login_style.css" />
  </head>
  <body>
    <div
      class="container--full-view-port d-flex flex-column justify-content-center align-items-center"
    >
      <div
        class="container d-flex flex-column align-items-center justify-content-center"
      >
        <h1>Log In</h1>
        <form action="/auth/login" method="post" class="d-flex flex-column">
          <div class="form-floating d-flex align-items-center">
            <input
              type="username"
              class="form-control"
              name="username"
              placeholder="Username"
            />
            <label for="username">Username</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Password"
            />
            <label for="password">Password</label>
          </div>
          <div>
            <button id="loginButton" type="submit">Login</button>
          </div>
        </form>
        <% if (incorrect) { %>
        <p id="incorrect">Incorrect email or password.</p>
        <% } %>
      </div>
    </div>
  </body>
</html>
