<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <head>
    <link rel="stylesheet" href="/stylesheets/login_style.css" />
  </head>
  <body>
    <div
      class="container--full-view-port d-flex flex-column justify-content-center align-items-center"
    >
      <div
        class="container d-flex flex-column align-items-center justify-content-center"
      >
        <h1>Hello, <%= theUser %></h1>
        <div class="container m-4">
          <!-- Kita lakukan loop untuk menjalankan include untuk component article -->
          <table class="table table-light">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Room</th>
                <th scope="col">Result</th>
              </tr>
            </thead>
            <tbody>
              <% getGame.forEach(i => { %>
              <tr>
                <th scope="row"><%= i.id %></th>
                <td><%= i.room %></td>
                <td><%= i.result %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
